option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /api/health
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/health
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:autoscaling:launchconfiguration:
    HealthCheckType: ELB
    HealthCheckGracePeriod: 600
